@{
    ViewData["Title"] = "Unit 01";
}

<div class="text-center">

    <audio id="s01" src="~/viet/01/i.mp3" preload="auto"></audio>
    <audio id="s02" src="~/viet/01/mi.mp3" preload="auto"></audio>
    <audio id="s03" src="~/viet/01/ni.mp3" preload="auto"></audio>
    <audio id="s04" src="~/viet/01/bi.mp3" preload="auto"></audio>
    <audio id="s05" src="~/viet/01/đi.mp3" preload="auto"></audio>

    <audio id="s06" src="~/viet/01/e.mp3" preload="auto"></audio>
    <audio id="s07" src="~/viet/01/me.mp3" preload="auto"></audio>
    <audio id="s08" src="~/viet/01/ne.mp3" preload="auto"></audio>
    <audio id="s09" src="~/viet/01/be.mp3" preload="auto"></audio>
    <audio id="s10" src="~/viet/01/đe.mp3" preload="auto"></audio>

    <audio id="s11" src="~/viet/01/ê.mp3" preload="auto"></audio>
    <audio id="s12" src="~/viet/01/mê.mp3" preload="auto"></audio>
    <audio id="s13" src="~/viet/01/nê.mp3" preload="auto"></audio>
    <audio id="s14" src="~/viet/01/bê.mp3" preload="auto"></audio>
    <audio id="s15" src="~/viet/01/đê.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <h1><Lable>Vowels - ( i e e )</Lable></h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s01').play();">i</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s02').play();">mi</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s03').play();">ni</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s04').play();">bi</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s05').play();">đi</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s06').play();">e</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s07').play();">me</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s08').play();">ne</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s09').play();">be</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s10').play();">đe</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s11').play();">ê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s12').play();">mê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s13').play();">nê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s14').play();">bê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s15').play();">đê</button>
        </div>
    </div>

    <br />

    <audio id="s16" src="~/viet/01/m.mp3" preload="auto"></audio>
    <audio id="s17" src="~/viet/01/me.mp3" preload="auto"></audio>
    <audio id="s18" src="~/viet/01/mê.mp3" preload="auto"></audio>
    <audio id="s19" src="~/viet/01/mi.mp3" preload="auto"></audio>

    <audio id="s20" src="~/viet/01/n.mp3" preload="auto"></audio>
    <audio id="s21" src="~/viet/01/ne.mp3" preload="auto"></audio>
    <audio id="s22" src="~/viet/01/nê.mp3" preload="auto"></audio>
    <audio id="s23" src="~/viet/01/ni.mp3" preload="auto"></audio>

    <audio id="s24" src="~/viet/01/b.mp3" preload="auto"></audio>
    <audio id="s25" src="~/viet/01/be.mp3" preload="auto"></audio>
    <audio id="s26" src="~/viet/01/bê.mp3" preload="auto"></audio>
    <audio id="s27" src="~/viet/01/bi.mp3" preload="auto"></audio>

    <audio id="s28" src="~/viet/01/đ.mp3" preload="auto"></audio>
    <audio id="s29" src="~/viet/01/đe.mp3" preload="auto"></audio>
    <audio id="s30" src="~/viet/01/đê.mp3" preload="auto"></audio>
    <audio id="s31" src="~/viet/01/đi.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <h1><Lable>Consonants - ( m  n  b đ )</Lable></h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s16').play();">m</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s17').play();">me</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s18').play();">mê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s19').play();">mi</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s20').play();">n</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s21').play();">ne</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s22').play();">nê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s23').play();">ni</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s24').play();">b</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s25').play();">be</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s26').play();">bê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s27').play();">bi</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s28').play();">đ</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s29').play();">đe</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s30').play();">đê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s31').play();">đi</button>
        </div>
    </div>

    <br />

    <audio id="s32" src="~/viet/01/thanh.ngang.mp3" preload="auto"></audio>

    <audio id="s33" src="~/viet/01/mi.mp3" preload="auto"></audio>
    <audio id="s34" src="~/viet/01/ni.mp3" preload="auto"></audio>
    <audio id="s35" src="~/viet/01/bi.mp3" preload="auto"></audio>
    <audio id="s36" src="~/viet/01/đi.mp3" preload="auto"></audio>

    <audio id="s37" src="~/viet/01/mê.mp3" preload="auto"></audio>
    <audio id="s38" src="~/viet/01/nê.mp3" preload="auto"></audio>
    <audio id="s39" src="~/viet/01/bê.mp3" preload="auto"></audio>
    <audio id="s40" src="~/viet/01/đê.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <h1><Lable>Tones </Lable></h1>
            <h1><button onclick="document.getElementById('s32').play();">Thanh Ngang</button></h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s33').play();">mi</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s34').play();">ni</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s35').play();">bi</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s36').play();">đi</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s37').play();">mê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s38').play();">nê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s39').play();">bê</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s40').play();">đê</button>
        </div>
    </div>

    <br />

    <audio id="s53" src="~/viet/01/dấu-huyền.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <h1>
                <button onclick="document.getElementById('s53').play();">Dấu Huyền</button>
            </h1>
        </div>
    </div>

    <br />

    <audio id="s41" src="~/viet/01/mì.mp3" preload="auto"></audio>
    <audio id="s42" src="~/viet/01/nì.mp3" preload="auto"></audio>
    <audio id="s43" src="~/viet/01/bì.mp3" preload="auto"></audio>
    <audio id="s44" src="~/viet/01/đì.mp3" preload="auto"></audio>

    <audio id="s45" src="~/viet/01/mề.mp3" preload="auto"></audio>
    <audio id="s46" src="~/viet/01/nề.mp3" preload="auto"></audio>
    <audio id="s47" src="~/viet/01/bề.mp3" preload="auto"></audio>
    <audio id="s48" src="~/viet/01/đề.mp3" preload="auto"></audio>

    <audio id="s49" src="~/viet/01/mè.mp3" preload="auto"></audio>
    <audio id="s50" src="~/viet/01/nè.mp3" preload="auto"></audio>
    <audio id="s51" src="~/viet/01/bè.mp3" preload="auto"></audio>
    <audio id="s52" src="~/viet/01/đè.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s41').play();">mì</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s42').play();">nì</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s43').play();">bì</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s44').play();">đì</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s45').play();">mề</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s46').play();">nề</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s47').play();">bề</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s48').play();">đề</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('s49').play();">mè</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s50').play();">nè</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s51').play();">bè</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('s52').play();">đè</button>
        </div>
    </div>

    <br />
</div>
