@{
    ViewData["Title"] = "Unit 03";
}

<div class="text-center">

    <audio id="sound1" src="viet/01/b.mp3" preload="auto"></audio>

    <div class="row">
        <div class="col">
            <button onclick="document.getElementById('sound1').play();">Play it</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('sound1').play();">Play it</button>
        </div>
        <div class="col">
            <button onclick="document.getElementById('sound1').play();">Play it</button>
        </div>
    </div>

</div>
